@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #155591;
    --foreground: #ececec;

    --card: #303030;
    --card-foreground: #ececec;

    --primary: #6f9a7d;
    --primary-foreground: #ececec;

    --secondary: #2a6f91;
    --secondary-foreground: #ececec;

    --accent: #4a8f91;
    --accent-foreground: #ececec;

    --destructive: #F44336;
    --destructive-foreground: #ececec;

    --success: #4CAF50;
    --success-foreground: #ececec;

    --border: #14538e;
    --input: #ffffff;
    --ring: #14538e;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    padding-bottom: 80px; /* Height of the BottomNav */
  }
}
